/* importar as "configurações básicas" */

@import url(../../style/cssReset.css);
@import url(../../style/variaveis.css);
@import url(../../style/style.css);

/* config básica */

a
{
    text-decoration: none;
    color: white;
}

/* deixar tudo alinhado */

body
{
    background-color: var(--CorCinzaClaro);
}

div.telaPrincipal
{
    display: flex;
}

div.Wrapper
{
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
}

/* titulo da página */

h3#SubtituloPáginaAtual
{
    color: var(--CorCinza);
    margin-left: 2rem;
}

h1#PessoaCargo
{
    color: var(--CorPreta);
}


/* fazer o feed ter 16px de distancias lateral */

div#feed
{
    margin: 1rem;
    width: 100%;
}

div.row
{
    width: 100%;
    height: 100%;
}

/* parte de upar img */

/* Área de upload */
.alinhar
{
    width: 100%;
    min-height: 265px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 16px 0;
    padding: 20px;

    background: radial-gradient(circle, #E8F2FF,  var(--BordaAzulClara));
    border: 3px solid #1f4bc3;
    border-radius: 15px;
}

.upload-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.upload-box img
{
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
}

.upload-box h3
{
    font-size: 32px;
    color: #1f4bc3;
    margin-bottom: 16px;
    font-weight: 700;
}

.upload-box .formatos
{
    font-size: 18px;
    color: #8a8a8a;
    margin-bottom: 16px;
}

.upload-box .selecionar
{
    font-size: 18px;
    color: #2563eb;
    text-decoration: underline;
    font-weight: 500;
}

.upload-box .selecionar:hover
{
    opacity: 0.8;
}