@import url(style.css);

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--CorCinzaClaro);
}

/* Background do Botão da página que está aberta */
#notificacoes {
    background-color: var(--CorPrincipalClara);
}

main.telaPrincipal
{
    flex: 1;
    margin: 1rem auto;
    width: 100%;
    max-width: 1024px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--CorBranco);
}

h2
{
    width: 100%;
    display: flex;
    justify-content: center;
}
