h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: justify;
}

/* Fazer a parte azul do meio do inicio */

.Wrapper
{
    background-color: var(--CorPrincipal);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    padding: 0;
}

.container
{
    max-width: calc(768px + 2rem);
    padding: 1rem;
}

.hero {
    color: var(--CorBranco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container h1
{
    width: 100%;
}

.container button#Comecar
{
    width: 100%;
    height: 65.01px;
}

.container button#verDenuncias
{
    width: 100%;
    height: 65.01px;
}

.centralizar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.btn {
    font-size: 1.2rem;
}

#Comecar {
    color: var(--CorPrincipal);
}

#verDenuncias {
    border: 2px solid white;
    background-color: var(--CorPrincipalClara);
}

#verDenuncias:hover {
    background-color: var(--CorBranco);
}

@media (max-width: 1024px) {
    .centralizar {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        font-size: 1rem;
    }
}