<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fala Votorantim - Meus dados - Usuario</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/style/adm/style.css">
    <link rel="stylesheet" href="/style/adm/meusDados.css">
</head>
<body>


    <div class="topbar">
        <button id="btnMenu">☰</button>
        <h2>Fala Votorantim</h2>
    </div>

    <div class="overlay">
        
    </div>


    <div class="telaPrincipalDiv">
        <aside id="menuLateral"></aside>

    <main id="telaPrincipal" class="box-shadow">
        <h2>Meus dados</h2>

        <div class="row">

            <div class="col-6">
                <label for="" class="form-label">Nome</label>
                <input type="text" placeholder="João da Silva" class="form-control">
            </div>

            <div class="col-6">
                <label for="" class="form-label">Telefone</label>
                <input type="text" placeholder="(15) 98765-4321" class="form-control">
            </div>

        </div>



        <div class="row">

            <div class="col-3">
                <label for="" class="form-label">CPF</label>
                <input type="text" placeholder="000.000.000-00" class="form-control">
            </div>

            <div class="col-3">
                <label for="" class="form-label">CEP</label>
                <input type="text" placeholder="18110-008" class="form-control">
            </div>

            <div class="col-3">
                <label for="" class="form-label">Estado</label>
                <input type="text" placeholder="São Paulo" class="form-control">
            </div>

            <div class="col-3">
                <label for="" class="form-label">Cidade</label>
                <input type="text" placeholder="Votorantim" class="form-control">
            </div>

        </div>



        <div class="row">

            <div class="col-6">
                <label for="" class="form-label">Rua</label>
                <input type="text" placeholder="Av. Juscelino Kubitschek de Oliveira" class="form-control">
            </div>

            <div class="col-3">
                <label for="" class="form-label">Numero</label>
                <input type="text" placeholder="279" class="form-control">
            </div>

            <div class="col-3">
                <label for="" class="form-label">Bairro</label>
                <input type="text" placeholder="Protestantes" class="form-control">
            </div>

        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-primary">Atualizar</button>
        </div>

        <hr>

        <div class="row">

            <div class="col-6">
                <label for="" class="form-label">Email</label>
                <input type="text" placeholder="joao_da_silva18110@gmail.com" class="form-control">

                <input type="text" placeholder="Digite o novo email" class="form-control" style="margin-top: 1rem; margin-bottom: 1rem;">

                <input type="text" placeholder="Código de confirmação" class="form-control">

                <div class="d-grid gap-2">
                    <button class="btn btn-primary">Atualizar</button>
                </div>
            </div>

            <div class="col-6">
                <label for="" class="form-label">Senha</label>
                <input type="text" placeholder="Digite sua senha atual" class="form-control">

                <input type="text" placeholder="Nova senha" class="form-control" style="margin-top: 1rem; margin-bottom: 1rem;">

                <input type="text" placeholder="Confirmação de senha" class="form-control">

                <div class="d-grid gap-2">
                    <button class="btn btn-primary">Atualizar</button>
                </div>
            </div>

        </div>
    </main>
    </div>


    <footer id="footer"></footer>

    <script src="/funcionalidades/adm/headerFooter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="../../funcionalidades/adm/AtivarMenuMob.js"></script>
</body>
</html>