@import url(../../style/cssReset.css);
@import url(../../style/variaveis.css);
@import url(../../style/style.css);
@import url(../../ADM/style/FeedDenuncias.css);

body{
background-color: var(--CorCinzaClaro);
}

.FundoForm{
    width: calc( 100% - 128px );
    margin: 16px 64px 32px 64px;
    background-color: var(--CorBranco);
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.formularioDenuncia{
    margin: 0 32px ;
}
.titulo {
    margin-left: 64px;
    margin-top: 16px;
}