<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fala Votorantim - Página Inicial</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/HomePage.css">
</head>

<body>

    <header id="header"></header>

    <section class="Wrapper">
        <div class="hero container">
            <h1 class="text-center">Ajude a melhorar Votorantim</h1>
            <h3 class="text-center"> Encontrou algum problema na cidade? Denuncie buracos, iluminação quebrada, lixo
                acumulado e outros problemas urbanos de forma rápida, segura e anônima.</h3>

            <div class="centralizar">
                <button type="button" class="btn btn-light box-shadow" id="Comecar">Começar agora</button>
                <button type="button" class="btn btn-outline-light box-shadow" id="verDenuncias">Ver denúncias</button>
            </div>
        </div>
    </section>

    <section class="container">
        <br>
        <h2 class="text-center">Denuncie de forma rápida, segura e anônima.</h2>
        <p>O Fala Votorantim é uma plataforma criada para aproximar a população da prefeitura, facilitando o envio de
            denúncias urbanas e ajudando a melhorar a cidade para todos.</p>
        <p>Quanto mais pessoas participam, mais rápido os problemas podem ser identificados e resolvidos.</p>
        <div class="resumo-plataforma">
            <div class="resumo__ponto-1 resumo__ponto">
                <div class="ponto-1__icone ponto__icone flex-center">
                    <img src="../svg/check.svg" alt="check">
                </div>
                <h4 class="text-center">Plataforma simples e intuitiva</h4>
                <p class="text-center">Registre problemas urbanos de maneira prática, com uma interface fácil de
                    entender e acessível para
                    qualquer pessoa.</p>
            </div>
            <div class="resumo__ponto-2 resumo__ponto">
                <div class="ponto-2__icone ponto__icone flex-center">
                    <img src="../svg/escudo.svg" alt="escudo">
                </div>
                <h4 class="text-center">Denúncias seguras e anônimas</h4>
                <p class="text-center">Envie denúncias com mais privacidade e segurança, ajudando a cidade sem precisar
                    expor suas
                    informações pessoais.</p>
            </div>
            <div class="resumo__ponto-3 resumo__ponto">
                <div class="ponto-3__icone ponto__icone flex-center">
                    <img src="../svg/home.svg" alt="home">
                </div>
                <h4 class="text-center">Acesse de qualquer dispositivo</h4>
                <p class="text-center">Faça denúncias em poucos passos, sem burocracia, por uma aplicação web acessível
                    de onde estiver.</p>
            </div>
            <div class="resumo__ponto-4 resumo__ponto">
                <div class="ponto-4__icone ponto__icone flex-center">
                    <img src="../svg/escudo.svg" alt="escudo">
                </div>
                <h4 class="text-center">Ajude a melhorar sua cidade</h4>
                <p class="text-center">Cada denúncia contribui para identificar problemas mais rapidamente e ajudar na
                    melhoria de
                    Votorantim para todos.</p>
            </div>
        </div>
    </section>

    <footer id="footer"></footer>

    <!-- __________________________________________ -->
    <script src="../Funcionalidades/PuxarAcessibilidade.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>