<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fala Votorantim - Cadastro de denúncias - Usuario</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/style/usuario/style.css">
    <link rel="stylesheet" href="/style/usuario/feedDenuncias.css">
</head>

<body>

    <div id="MenuMobi"></div>

    
    <header id="header"></header>

    <main class="container1024">
        <section class="ContainerFeed">

            <!-- TÍTULO DA PÁGINA -->
            <h1 id="PessoaCargo">Feed de denúncias</h1>


            <!-- FILTROS DAS DENUNCIAS -->
            <div id="filtros"></div>

            <!-- FEED DE DENUNCIAS -->
            <div class="ContainerDenuncias box-shadow" id="feed"></div>
        </section>
    </main>

    <footer id="footer"></footer>
    <script src="/funcionalidades/usuario/headerFooterUsu.js"></script>
    <script src="/funcionalidades/usuario/filtroDenuncias.js"></script>
    <script src="/funcionalidades/usuario/feedDenuncias.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

        <script src="../../funcionalidades/usuario/PuxarMenu.js"></script>
</body>

</html>