<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fala Votorantim - Minhas Denúncias - Usuário</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/style/usuario/style.css">
    <link rel="stylesheet" href="/style/usuario/minhasDenuncias.css">
</head>
<body>

    <div id="MenuMobi"></div>

    <header id="header"></header>

    <main>
        <h2>Minhas Denúncias</h2>

        <div id="filtros1"></div>


        <div class="ContainerDenuncias box-shadow">
            <div class="CardDenuncia Azul">

                    <div class="InfoDenuncia">

                        <div class="TopInfo">

                            <span class="Numero">
                                # 2255510
                            </span>

                            <span class="Status StatusAzul">
                                Em andamento
                            </span>

                        </div>

                        <h3>Buraco grande na rua das Florestas</h3>

                        <span class="Categoria">
                            Buraco na via
                        </span>

                        <p>
                            Buraco profundo causando risco...
                        </p>

                        <div class="RodapeInfo">

                            <span>
                                Rua das Flores, 123, Centro
                            </span>

                            <span>
                                10/05/2024, 14:30
                            </span>

                        </div>

                    </div>

                    <!-- ESSE É O QUADRADO VAZIO DAS DIVS -->
                    <div class="ImagemDenuncia"></div>

                </div>
        </div>

        <h2 id="DenunciasSalvas">Denúncias salvas</h2>

        <div id="filtros2"></div>


        <div class="ContainerDenuncias box-shadow">
            <div class="CardDenuncia Verde">

                    <div class="InfoDenuncia">

                        <div class="TopInfo">

                            <span class="Numero">
                                #2024051402
                            </span>

                            <span class="Status StatusVerde">
                                Resolvido
                            </span>

                        </div>

                        <h3>Poste de luz queimada</h3>

                        <span class="Categoria">
                            Iluminação
                        </span>

                        <p>
                            Poste sem iluminação há mais...
                        </p>

                        <div class="RodapeInfo">

                            <span>
                                Avenida Principal, 456, Jardim América
                            </span>

                            <span>
                                08/05/2024, 09:15
                            </span>

                        </div>

                    </div>

                    <!-- ESSE É O QUADRADO VAZIO DAS DIVS -->
                    <div class="ImagemDenuncia"></div>

                </div>
        </div>
    </main>

    <footer id="footer"></footer>

    <script src="/funcionalidades/usuario/headerFooterUsu.js"></script>
    <script src="/funcionalidades/usuario/feedDenuncias.js"></script>
    <script src="/funcionalidades/usuario/filtroMinhasDenuncias.js"></script>
    <script src="/funcionalidades/usuario/PuxarMenu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>