<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fala Votorantim - Sobre nós</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/style/geral/style.css">
    <link rel="stylesheet" href="/style/geral/sobreNos.css">
</head>

<body>
    <header id="header"></header>

    <section class="section-1">
        <div class="container1024">
            <h1 class="text-center">Sobre nós</h1>
            <hr>
        </div>
    </section>

    <section class="section-2">
        <main class="container1024 cards-sobre-nos">

            <!-- César -->
            <div class="card box-shadow">
                <img src="/img/fotos/César.png" class="card-img-top" alt="César">
                <div class="card-body">
                    <div class="card-body__nome-email">
                        <h4 class="card-title text-center">César Henrique Camardo dos Santos</h4>
                        <p class="card-text text-center">cesar_henriquecam@hotmail.com</p>
                    </div>
                    <div class="botoes-social flex-center">
                        <a href="https://www.linkedin.com/in/c%C3%A9sar-henrique-camargo-dos-santos-21431019a/" target="_blank">
                            <img src="/svg/linkedin.svg" alt="LinkedIn">
                        </a>
                        <a href="https://github.com/cesarhenrique03" target="_blank">
                            <img src="/svg/github.svg" alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Daniel -->
            <div class="card box-shadow">
                <img src="/img/fotos/Daniel.png" class="card-img-top" alt="César">
                <div class="card-body">
                    <div class="card-body__nome-email">
                        <h4 class="card-title text-center">Daniel de Freitas Esteves da Costa</h4>
                        <p class="card-text text-center">freitascosta207@gmail.com</p>
                    </div>
                    <div class="botoes-social flex-center">
                        <a href="https://www.linkedin.com/in/daniel-de-freitas-esteves-da-costa-451439321" target="_blank">
                            <img src="/svg/linkedin.svg" alt="LinkedIn">
                        </a>
                        <a href="https://github.com/BlackDani557" target="_blank">
                            <img src="/svg/github.svg" alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Davi -->
            <div class="card box-shadow">
                <img src="/img/fotos/Davi.png" class="card-img-top" alt="César">
                <div class="card-body">
                    <div class="card-body__nome-email">
                        <h4 class="card-title text-center">Davi Dias Campos</h4>
                        <p class="card-text text-center">davicampos143@gmail.com</p>
                    </div>
                    <div class="botoes-social flex-center">
                        <a href="https://www.linkedin.com/in/davi-dias-campos/" target="_blank">
                            <img src="/svg/linkedin.svg" alt="LinkedIn">
                        </a>
                        <a href="https://github.com/davicampos-crypto" target="_blank">
                            <img src="/svg/github.svg" alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Guilherme -->
            <div class="card box-shadow">
                <img src="/img/fotos/Guilherme.png" class="card-img-top" alt="César">
                <div class="card-body">
                    <div class="card-body__nome-email">
                        <h4 class="card-title text-center">Guilherme Antonio Rodrigues da Costa</h4>
                        <p class="card-text text-center">guilhermewebdev08@gmail.com</p>
                    </div>
                    <div class="botoes-social flex-center">
                        <a href="https://www.linkedin.com/in/guilherme-costa-bb44ba297/" target="_blank">
                            <img src="/svg/linkedin.svg" alt="LinkedIn">
                        </a>
                        <a href="https://github.com/cdGuilherme" target="_blank">
                            <img src="/svg/github.svg" alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Marcos -->
            <div class="card box-shadow">
                <img src="/img/fotos/Marcos.png" class="card-img-top" alt="César">
                <div class="card-body">
                    <div class="card-body__nome-email">
                        <h4 class="card-title text-center">Marcos Vinicius Nunes Ferreira</h4>
                        <p class="card-text text-center">Marcos.ferreira171223@gmail.com</p>
                    </div>
                    <div class="botoes-social flex-center">
                        <a href="https://www.linkedin.com/in/marcos-ferreira-645b0a339/" target="_blank">
                            <img src="/svg/linkedin.svg" alt="LinkedIn">
                        </a>
                        <a href="https://github.com/MarcosV1ni" target="_blank">
                            <img src="/svg/github.svg" alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>

        </main>
    </section>

    <footer id="footer"></footer>

    <!-- __________________________________________ -->
    <script src="/../funcionalidades/geral/headerFooter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>