@import url(style.css);
@import url(/style/geral/cssReset.css);
@import url(/style/geral/footer.css);
@import url(/style/geral/header.css);

body
{
    background-color: var(--CorCinzaClaro);
}

a
{
    color: white;
    text-decoration: none;
}

main#telaPrincipal
{
    background-color: white;
    border-radius: 15px;

    margin: auto auto auto auto;

    width: 950px;

    max-height: 1024px;

    padding: 2rem;
}

div.telaPrincipalDiv
{
    display: flex;
}

main#telaPrincipal h2
{
    margin: 1rem 50% 1rem 40%;
    width: 50%;
}

div.col-3, div.col-6
{
    margin-top: 1rem;
}

button.btn
{
    margin-top: 1rem;
}

div.topbar
{
    display: none;
}

@media (max-width: 320px)
{
    div.topbar
    {
        display: flex;
        background-color: var(--CorPrincipalEscura);
        color: white;
        gap: 24px;
        padding: 16px 0 26px 0;
    }

    div.topbar h2
    {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: 1rem;

        font-size: 1rem;
    }

    div.topbar button
    {
        margin: 0 1rem;
        border: none;
        background-color: var(--CorPrincipalEscura);
        color: white;
    }
}