/* importar as "configurações básicas" */

@import url(../../style/cssReset.css);
@import url(../../style/variaveis.css);
@import url(../../style/style.css);

/* Congif iniciais */

a
{
    text-decoration: none;
    color: white;
}

/* deixar tudo alinhado */

body
{
    background-color: var(--CorCinzaClaro);
}

div.telaPrincipal
{
    display: flex;
    min-height: 100vh;

}

#RetornarDenuncias
{
    flex: 1;
    padding: 2rem;
    background-color: var(--CorCinzaClaro);

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div.Wrapper
{
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
}

h3#SubtituloPáginaAtual
{
    color: var(--CorCinza);
    margin-left: 2rem;
}

div.topbar
{
    display: none;
}


h1#PessoaCargo
{
    color: var(--CorPreta);
}


/* fazer o feed ter 16px de distancias lateral */

div#feed
{
    margin: 1rem;
    width: 100%;
}

div.row
{
    width: 100%;
    height: 100%;
}


.acoes-denuncia
{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.btn-acao
{
    flex: 1;
    min-width: 180px;

    padding: 14px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    font-weight: 600;
    border-radius: 12px;

    transition: all .3s ease;
}

.btn-acao:hover
{
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.btn-acao:active
{
    transform: translateY(0);
}

/* parte de upar img */

/* Área de upload */
.alinhar
{
    width: 100%;
    min-height: 265px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 16px 0;
    padding: 20px;

    background: radial-gradient(circle, #E8F2FF,  var(--BordaAzulClara));
    border: 3px solid #1f4bc3;
    border-radius: 15px;
}

.upload-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.upload-box img
{
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
}

.upload-box h3
{
    font-size: 32px;
    color: #1f4bc3;
    margin-bottom: 16px;
    font-weight: 700;
}

.upload-box .formatos
{
    font-size: 18px;
    color: #8a8a8a;
    margin-bottom: 16px;
}

.upload-box .selecionar
{
    font-size: 18px;
    color: #2563eb;
    text-decoration: underline;
    font-weight: 500;
}

.upload-box .selecionar:hover
{
    opacity: 0.8;
}






@media (max-width: 320px)
{
    div.topbar
    {
        display: flex;
        background-color: var(--CorPrincipalEscura);
        color: white;
        gap: 24px;
        padding: 16px 0 26px 0;
    }

    div.topbar h2
    {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: 1rem;

        font-size: 1rem;
    }

    div.topbar button
    {
        margin: 0 1rem;
        border: none;
        background-color: var(--CorPrincipalEscura);
        color: white;
    }
}

div.topbar
{
    display: none;
}

.overlay
{
    display: none;
}

/* DEIXAR TUDO RESPONSIVO*/

@media (max-width: 992px)
{
    .alinhasDenuncias
    {
        grid-template-columns: repeat(2, 1fr);
    }

    div.topbar
    {
        display: none;
    }
}

@media (max-width: 768px)
{
        div.topbar
        {
            display: flex;
            align-items: center;
            justify-content: space-between;

            background-color: var(--CorPrincipalEscura);
            color: white;

            padding: 1rem;

            position: relative;
            z-index: 10000;
            height: 80px;
        }

        div.topbar h2
        {
            margin: 0;
            font-size: 1rem;
        }

        div.topbar button
        {
            border: none;
            background: transparent;
            color: white;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .overlay
        {
            position: fixed;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: rgba(0,0,0,.5);

            z-index: 9998;
        }

        .overlay.ativo
        {
            display: block;
        }
}

@media (max-width: 320px)
{
    div.topbar
    {
        display: flex;
        background-color: var(--CorPrincipalEscura);
        color: white;
        gap: 24px;
        padding: 16px 0 26px 0;
    }

    div.topbar h2
    {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: 1rem;

        font-size: 1rem;
    }

    div.topbar button
    {
        margin: 0 1rem;
        border: none;
        background-color: var(--CorPrincipalEscura);
        color: white;
    }
}